/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1. feb. 2020, 15.26.36
    Author     : ander
*/

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.login-button
{
    -fx-background-color: #9a80fe;


   
}
.login-button:hover
{
    -fx-background-color: #b49afd;
    
}

.background
{
    -fx-background-image: url("1.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.middlebackground
{
    -fx-background-color: rgba(255, 255, 255,0);
}

.label
{
        -fx-font-family: 'Oswald', sans-serif;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #9a80fe;
}

.text-field {
    -fx-prompt-text-fill: white;
}

.text-input {
    -fx-text-fill: white;    
}
