/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23. apr. 2020, 18.54.00
    Author     : Peter
*/

.combo-box{
    -fx-border-width:1;
    -fx-background-color: transparent;
    -fx-font-size: 15px;

}



.combo-box-popup .list-cell {    
    -fx-background-color: white;    
    -fx-text-fill: #333333;
}

.combo-box-popup .list-cell:filled:hover {
    -fx-background-color: #9a80fe;
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-cell:filled:selected {
  -fx-background-color: #9a80fe;
  -fx-background-insets: 0 ;
  -fx-text-fill: #ffffff;
}

.login-button
{
    -fx-background-color: #9a80fe;
}

.login-button:hover
{
    -fx-background-color: #b49afd;
}

.jfx-rippler {
    -jfx-rippler-fill: #b49afd;
}

.list-view{
-fx-border-color: f1f1f1;
-fx-focus-color: transparent;
-fx-background-color: transparent
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #f9f9f9;
}

.list-cell:odd { /* <=== changed to even */
    -fx-background-color: #f5f5f5;
}

.list-cell:filled:hover {
    -fx-background-color: #f1f1f1;
}

.list-view .list-cell:filled:selected {
  -fx-background-color: #9a80fe;
  -fx-background-insets: 0 ;
  -fx-text-fill: white;
}

.choice-box > * {
    -fx-background-color: #f1f1f1;
    -fx-font-size: 15px;
    -fx-background-radius: 0;
}

.cb .menu-item:focused {
  -fx-background-color: #9a80fe; /* for example */
  -fx-text-fill: white;
}

.cb .context-menu {
    -fx-background-color: white;
}

.cb:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent; /* here rgba (corrected) */
}