/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22. apr. 2020, 18.51.15
    Author     : Peter
*/

.button
{
    -fx-background-color: #9a80fe;


   
}
.button:hover
{
    -fx-background-color: #b49afd;
    
}


.text-field {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
}

.input .text-field {
         -fx-prompt-text-fill: #ffffff;
}

.combo-box{
    -fx-border-width:1;
    -fx-background-color: #f1f1f1;
    -fx-font-size: 15px;

}


.combo-box-popup .list-cell {    
    -fx-background-color: white;    
    -fx-text-fill: #333333;
}

.combo-box-popup .list-cell:filled:hover {
    -fx-background-color: #9a80fe;
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-cell:filled:selected {
  -fx-background-color: #9a80fe;
  -fx-background-insets: 0 ;
  -fx-text-fill: #ffffff;
}

.list-view{
-fx-border-color: #ffffff;
-fx-focus-color: transparent;
-fx-background-color: transparent;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #f9f9f9;
}

.list-cell:odd { /* <=== changed to even */
    -fx-background-color: #f5f5f5;
}

.list-cell:filled:hover {
    -fx-background-color: #f1f1f1;
}

.list-view .list-cell:filled:selected {
  -fx-background-color: #9a80fe;
  -fx-background-insets: 0 ;
  -fx-text-fill: white;
}