/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21. apr. 2020, 21.34.11
    Author     : Peter
*/


.button
{
    -fx-background-color: #9a80fe;


   
}
.button:hover
{
    -fx-background-color: #b49afd;
    
}


.text-field {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
}

.jfx-date-picker .input-line {
    -fx-background-color: white;
}
.jfx-date-picker .input-focused-line {
    -fx-background-color: white;
}

.jfx-date-picker {
    -fx-font-size: 15px;
}

.menu-bar{
  -fx-background-color: #ffffff;
  -fx-border-color:  #ffffff;
 -fx-border-width: 2

}



.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-text-fill: white;
    -fx-background: #9a80fe ;
    -fx-opacity: 1;
    -fx-text-fill: white;
}

.menu-bar .menu-button:focused {
    -fx-text-fill: white;
}

.menu-item {
    -fx-text-fill: white;
    -fx-background: #9a80fe ;
}
.menu-item .label:hover{
    -fx-background: #9a80fe ;
    -fx-text-fill: white;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color:white ;
    -fx-border-width: 0.2px;
    -fx-border-color: black;
    /** -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; 
    -fx-opacity: 0.9;*/
}