/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21. apr. 2020, 17.54.32
    Author     : Peter
*/

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.button
{
    -fx-background-color: #9a80fe;


   
}
.button:hover
{
    -fx-background-color: #b49afd;
    
}

.label
{
        -fx-font-family: 'Oswald', sans-serif;
}

.text-field {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
}

.jfx-date-picker .input-line {
    -fx-background-color: white;
}
.jfx-date-picker .input-focused-line {
    -fx-background-color: white;
}

.jfx-date-picker {
    -fx-font-size: 15px;
}

.combo-box{

    -fx-font-size: 15px;

}