/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21. apr. 2020, 17.54.32
    Author     : Peter
*/


.button
{
    -fx-background-color: #9a80fe;


   
}
.button:hover
{
    -fx-background-color: #b49afd;
    
}


.text-field {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
}

.jfx-date-picker .input-line {
    -fx-background-color: white;
}
.jfx-date-picker .input-focused-line {
    -fx-background-color: white;
}

.jfx-date-picker {
    -fx-font-size: 15px;
}

.jfx-time-picker .input-line {
    -fx-background-color: white;
}
.jfx-time-picker .input-focused-line {
    -fx-background-color: white;
}

.jfx-time-picker {
    -fx-font-size: 15px;
}

.input .text-field {
         -fx-prompt-text-fill: #ffffff;
}

.combo-box{
    -fx-border-width:1;
    -fx-background-color: #f3f3f3;
    -fx-font-size: 15px;

}


.combo-box-popup .list-cell {    
    -fx-background-color: white;    
    -fx-text-fill: #333333;
}

.combo-box-popup .list-cell:filled:hover {
    -fx-background-color: #EBBA16;
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-cell:filled:selected {
  -fx-background-color: #EBBA16;
  -fx-background-insets: 0 ;
  -fx-text-fill: #ffffff;
}

.table-view{
   -fx-background-color: transparent;
   -fx-font-size: 15px;
}

.table-view:focused{
    -fx-background-color: transparent;
    -fx-background-insets: 0 ;
    -fx-text-fill: #ffffff;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#9a80fe 100%, #b49afd 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-border-color: #f9f9f9;
}

.table-row-cell:selected {
    -fx-background-color: #f1f1f1;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-text-fill: #ffffff;
}


.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}

#cancelTimer
{
    -fx-background-color: #fe6464;


}
#cancelTimer:hover
{
    -fx-background-color: #ff8484;
    
}