/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26. apr. 2020, 13.33.42
    Author     : Peter
*/

.menubar1:hover{
    -fx-background-color: #f1f1f1;
    -fx-border-color: #FF9F00;
    -fx-border-width: 0px 3px 0px 0px;
       
}

.menubar2:hover{
    -fx-background-color: #f1f1f1;
    -fx-border-color: #FFE470;
    -fx-border-width: 0px 3px 0px 0px;
       
}

.menubar3:hover{
    -fx-background-color: #f1f1f1;
    -fx-border-color: #25D9F8;
    -fx-border-width: 0px 3px 0px 0px;
       
}

.menubar4:hover{
    -fx-background-color: #f1f1f1;
    -fx-border-color: #FF4B00;
    -fx-border-width: 0px 3px 0px 0px;
       
}

.menubar5:hover{
    -fx-background-color: #f1f1f1;
    -fx-border-color: #2DC471;
    -fx-border-width: 0px 3px 0px 0px;
       
}

.menubar6:hover{
    -fx-background-color: #f1f1f1;
    -fx-border-color: #5C73BC;
    -fx-border-width: 0px 3px 0px 0px;
       
}

.menubar7:hover{
    -fx-background-color: #f1f1f1;
    -fx-border-color: #b4e0fa;
    -fx-border-width: 0px 3px 0px 0px;
       
}