/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20. apr. 2020, 19.19.31
    Author     : Peter
*/

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/*
Changes the color of a button
*/ 
.register-button
{
    -fx-background-color: #9a80fe;
}

/*
Changes the hover color of a button
*/ 
.login-button:hover
{
    -fx-background-color: #b49afd;
}

/*
Changes the font of a label
*/ 
.label
{
        -fx-font-family: 'Oswald', sans-serif;
}

/*
Changes the font size of a combobox
*/ 
.combo-box {
-fx-font-size: 15;
}

/*
Changes the properties of a text field
*/ 
.text-field {
    -fx-accent: #9a80fe;
}
