/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23. apr. 2020, 13.26.47
    Author     : Peter
*/



.button-with-margin {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.combo-box{
    -fx-border-width:1;
    -fx-background-color: #f3f3f3;
    -fx-font-size: 15px;

}

.combo-box-popup .list-cell {    
    -fx-background-color: white;    
    -fx-text-fill: #333333;
}

.combo-box-popup .list-cell:filled:hover {
    -fx-background-color: #9a80fe;
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-cell:filled:selected {
  -fx-background-color: #9a80fe;
  -fx-background-insets: 0 ;
  -fx-text-fill: #ffffff;
}

.chart {
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-legend-visible: false;
}

.chart-content {
    -fx-padding: 30px;    
}

.chart-title {
    -fx-text-fill: black;
}

.axis-label {
    -fx-text-fill: black;
}

.chart-plot-background {
    -fx-background-color:transparent;
}


.chart-alternative-row-fill {
    -fx-fill:transparent;
    -fx-stroke: transparent;
}

.default-color0.chart-series-line {
    -fx-stroke: #0000ff;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #0000ff, white;
}
.text-field {
    -fx-accent: #9a80fe;
}

.default-color0.chart-bar { -fx-bar-fill: #9a80fe; }

.chart-bar-title {
    -fx-text-fill: black;
}

.default-color0.chart-series-line { 
    -fx-stroke: #9a80fe; 
    -fx-stroke-width: 2px
}

.default-color0.chart-line-symbol { 
    -fx-background-color: #FF9F00; 
    -fx-opacity: 0.7;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #FF9F00;
}

.table-view{
   -fx-background-color: transparent;
   -fx-font-size: 15px;
}

.table-view:focused{
    -fx-background-color: transparent;
    -fx-background-insets: 0 ;
    -fx-text-fill: #ffffff;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#9a80fe 100%, #b49afd 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-alignment: center;
    -fx-border-color: #f9f9f9;
}

.table-row-cell:selected {
    -fx-background-color: #9a80fe;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected .text {

    -fx-fill: white ;

}

.table-view .column-header .arrow {
    -fx-background-color: white;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}